/* General */ 

    .section.one,.section.two,.section.three,.section.four {
        /* This is used to seperate the main content sections and will be used to size them later on seperately to the copyright footer */
        margin: 4px;
        display: flex;
        border: 1px solid orange;   
    }

    .container {
        /* Generic container - borders for debugging and flexbox */
        display: flex;
        border: 1px solid blue;
    }

    .text {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .main.text {
        font-size: 48px;
        font-weight: 900;
        color: #F9FAF8;
    }

    .secondary.text {
        font-size: 18px;
        color: #6d747d;
    }

/* Page Sections */

    .one {
        flex-direction: column;
        background: #1F2937;
        background-size: cover;
        padding-left: 15%;
        padding-right: 15%;
    }

    .two {
        flex-direction: column;
        background: #1F2937;
        background-size: cover;
        padding-left: 25%;
        padding-right: 25%;
        align-items: stretch; /* Make flex items stretch to fill the container */
        justify-content: stretch; /* Also make flex items stretch to fill the container */
    }

.container.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    margin-bottom: 24px;
}

/* Section 1 */
    .logo {
        font-size: 24px;
        font-weight: bolder;
        color: #F9FAF8;
        flex-grow: 1;
        width: 40%;
    }

    .header-end {
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    .link {
        margin: 5px;
        color: white;
        text-decoration: none;
    }

    .container.summary {
        padding: 8px;
        margin: 5% 0 8% 0;
        justify-content: flex-start;
    }

    .container.signup {
        flex-direction: column;
        width:  50%;
        padding: 8px 24px 8px 8px;
    }

    .container.image {
        background-color: grey;
        color: white;
        width: 50%;
    }

    .image {
        justify-content: center;
        align-items: center;
    }

    .button {
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        background-color: #3882F6;
        border: #3882F6;
        color: white;
        width: 120px;
        height: 35px;
        padding: 1%
    }

/* Section 2 */
    .container.boxes {
        display: flex;
        flex-direction: row;

    }

    .boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .box {
        flex:  1 1 50%; 
        border:  2px solid blue;
        border-radius: 16px;
        margin:  8px;
        min-height: ;
    }
    .box-text {
        flex:  1 0 50%; /* Adjust the flex-basis as needed */
        margin: 8px;

    }
